                   <!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <!-- Google Fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
     <!-- Bootstrap CDN Link -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
     <!-- css stylesheet  -->
     <link rel="stylesheet" href="./css/style.css">
     <!-- Font awsome -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     </head>
<body >
     <header id="home">
         <!-- Navbar -->
         <nav class="navbar navbar-expand-lg  fixed-top  ">
          <div class="container-fluid d-flex justify-content-between">
            <a class="navbar-brand d-flex justify-content-between " href="#home">
               <img src="images/logo.png" class="img-fluid" alt="">
            </a>
            <button class="navbar-toggler bg-body-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon "></span>
             </button>
             
           
              <ul class=" mb-3 d-lg-flex justify-content-end mb-lg-0 gap-4 collapse navbar-collapse"  id="navbarSupportedContent" >
                <li class="nav-item">
                  <a class="nav-link active text-white" aria-current="page" href="#home">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#knownus">KNOWN US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#services">SERVICES</a>
               </li>
               <li class="nav-item">
                    <a class="nav-link text-white" href="#work">WORK</a>
               </li>
               <li class="nav-item">
                    <a class="nav-link text-white" href="#casestudy">CASE STUDY</a>
               </li>
               <li class="nav-item">
                    <a class="nav-link text-white" href="#dm">DIGITAL MARKETING</a>
               </li>
               <li class="nav-item">
                    <a class="nav-link text-white" href="#socialmedia">SOCIAL MEDIA</a>
               </li>
               <li class="nav-item">
                    <a class="nav-link text-white" href="#film">FILM</a>
               </li>
               <li class="nav-item">
                    <a class="nav-link text-white" href="#footer">CONTACT</a>
               </li>
               <li class="nav-item">
                    <a class="nav-link text-white" href="#" >
                         <i class="fa-solid fa-phone"></i>
                         +91 98 86 833138</a>
               </li>
              </ul>
            </div>
      
        </nav>
     </header>
     <!-- Banner section -->
      <section >
          <div class="banner">
               <img src="./images/bannerdesktop.webp" class="img-fluid " alt="">

          </div>
      </section>
      <!-- Second Section -->
       <section id="knownus">
          <div class="container my-5 ">
               <div class="row">
               <div class=" col-sm-12 col-md-4">
                    <div class="col  text-rel mb-2 "  >
                         <img src="./images/14years.gif" class="img-fluid bg-white " alt="">
                         <div class="text1">
                              <a href="" class="style-4" target="_blank">
                                   <span class="text-white text-uppercase fw-bold  ">Witness our<br> transformation story</span>
                              </a>
                         </div>
                    </div>
                    <div class="col w-75  d-flex justify-content-center align-item-center">

                         <div class="w-75  caro1">
                              <div class="text-cont">
                                   <p class="text-center award">AWARD WINNING <br> <span>AD </span><span>AGENCY</span> </p>
                              </div>
                              <div id="carouselExampleAutoplaying " class="carousel slide" data-bs-ride="carousel">
                                   <div class="carousel-inner">
                                     <div class="carousel-item active">
                                       <img src="/images/carosel1.png" class="d-block w-75 h-75 mx-auto" alt="...">
                                       <p class="text-center" >A winner at Big Bang, <br> Advertising award, <br> 2023</p>
                                   </div>
                                     <div class="carousel-item">
                                          <img src="/images/carosel2.png" class="d-block w-75 h-75 mx-auto" alt="...">
                                          <p class="text-center ">A winner at Maddays, <br> Madras Ad Club, <br> 2024</p>
                                     </div> 
                                   </div>
                                 </div>
                         </div>
                    </div>
               </div>

              
               <div class=" col-sm-12 col-md-8 m-auto ">
                    <h4 class="just" >JUST WHAT YOUR BRAND NEEDS
                         <span class="redbox" ></span>
                    </h4>
                    <h1 class="head" >CREATIVE ADVERTISING AGENCY IN BANGALORE</h1>
                    <p class="content">Advertising should never get boring... Just why we at Bud dish out 'fresh ideas' to our clients. We keep our creative simple, focused and 'result oriented'. Because there can never be a 'happy office party' when the sales guy isn't happy!</p>
                    <p class="content">Bud is a creative boutique growing out of Bangalore. It's an ad agency which believes in churning out 'fresh' ideas and staying 'young' always (can we say, like a rose bud!). We believe in the philosophy of being a 'Small Big Ad Agency', i.e., offering 'big' ideas from a small set up... that help you sell more.</p>
                    <p class="content">Our integrated communication solutions enable brands to leverage their strength across advertising, digital, and print production mediums.</p>
                    <p class="content">From a humble beginning in 2010, Bud decided to change the game plan. Instead of creating a brand which is ubiquitous, we create communication that is unique. We aspire to become the 'best ad agency' In Bangalore and are powered by the best brains in creative and branding.</p>
               </div>
          </div>

          </div>
       </section>

       <!-- Video section -->
        <div class="video w-full">
          <video src="/images/banner15.mp4" autoplay muted loop class="w-full"></video>
        </div>
        <!-- Service secrion -->

        <section id="services">

          <div class="container mt-5">
               <div class="row">
                    <!-- left -->
                    <div class="col-sm-12  col-lg-4">
                         <h4 class="just" >AT YOUR SERVICE
                              <span class="redbox" ></span>
                         </h4>
                         <p class="content">At Bud, we offer you total brand management services with a purpose of boosting brand equity. We begin by doing a thorough market research on various brand parameters and arrive at a brand positioning to win in the market place.</p>
                         <p class="content">As a creative advertising agency, we can employ some of the most novel ways to provide your brand a significant impetus to increase your sales. Check out what all we can do for you...</p>
                    </div>
                    <!-- right -->
                     <div class="col-sm-12 col-lg-8">
                         <div class="container cards-cont sm-flex-wrap">

                              <div class="bg-black  ">   
                                   <div class="content-card  p-2 pb-3 text-center ">
                                        <p class="title text-white pt-4 mt-5">BRAND MANAGEMENT </p>
                                        <p class="text-white content-para">At Bud, we offer brand management services for consistent and cohesive brand image building across all touchpoints, including your website, social media, and others, strengthening your brand equity.</p>
                                        <a href="" class="text-danger">MORE</a>
                                   </div>
                              </div>

                              <div class="bg-black  ">   
                                   <div class="content-card  p-2 pb-3 text-center ">
                                        <p class="title text-white pt-4 mt-5">BRAND MANAGEMENT </p>
                                        <p class="text-white content-para">At Bud, we offer brand management services for consistent and cohesive brand image building across all touchpoints, including your website, social media, and others, strengthening your brand equity.</p>
                                        <a href="" class="text-danger">MORE</a>
                                   </div>
                              </div>

                              <div class="bg-black  ">   
                                   <div class="content-card  p-2 pb-3 text-center ">
                                        <p class="title text-white pt-4 mt-5">BRAND MANAGEMENT </p>
                                        <p class="text-white content-para">At Bud, we offer brand management services for consistent and cohesive brand image building across all touchpoints, including your website, social media, and others, strengthening your brand equity.</p>
                                        <a href="" class="text-danger">MORE</a>
                                   </div>
                              </div>
                         </div>
                     </div>
               </div>
          </div>
        </section>
        <!-- Image Cards section -->
         <section id="work">
          <div class="container-fluid">
               <!-- image row 1-->
               <div class="row mt-5">
                    <!-- image 1 -->
                    <div class="col-md-3 p-0">
                         <a href="">
                              <div class=" card-image position-relative">
                                  <img src="images/REALESTATE.jpg" alt="Image 1" class="img-fluid ">
                                  <div class="image-cont text-uppercase ">Real Estate</div>
                              </div>
                         </a>
                    </div>
                    <!-- image 2 -->
                    <div class="col-md-3 p-0 ">
                         <a href="">
                              <div class=" card-image position-relative">
                                  <img src="images/FOOD & BEVERAGE.jpg" alt="Image 1" class="img-fluid ">
                                  <div class="image-cont text-uppercase ">FOOD & BEVERAGE</div>
                              </div>
                         </a>
                    </div>

                    <!-- image 3 -->
                    <div class="col-md-6 p-0 ">
                         <a href="">
                              <div class=" card-image position-relative">
                                  <img src="images/JEWELLERY.jpg" alt="Image 1" class="img-fluid ">
                                  <div class="image-cont text-uppercase ">FOOD & BEVERAGE</div>
                              </div>
                         </a>
                    </div>
                    
               </div>
               <!-- image row 2-->
               <div class="row">
                    <!-- image 1 -->
                    <div class="col-md-3 p-0">
                         <a href="">
                              <div class=" card-image position-relative">
                                  <img src="images/FASHION & ENTERTAINMENT.jpg" alt="Image 1" class="img-fluid  ">
                                  <div class="image-cont  ">FASHION & ENTERTAINMENT</div>
                              </div>
                         </a>
                    </div>
                    <!-- image 2 -->
                    <div class="col-md-3 p-0 ">
                         <a href="">
                              <div class=" card-image position-relative">
                                  <img src="images/BRANDING.webp" alt="Image 1" class="img-fluid ">
                                  <div class="image-cont  ">BRANDING</div>
                              </div>
                         </a>
                    </div>

                    <!-- image 3 -->
                    <div class="col-md-3 p-0 ">
                         <a href="">
                              <div class=" card-image position-relative">
                                  <img src="images/FURNITURE.jpg" alt="Image 1" class="img-fluid  ">
                                  <div class="image-cont text-uppercase ">FURNITURE</div>
                              </div>
                         </a>
                    </div>
                    <div class="col-md-3 p-0 ">
                         <a href="">
                              <div class=" card-image position-relative">
                                  <img src="images/B2B.jpg" alt="Image 1" class="img-fluid ">
                                  <div class="image-cont text-uppercase ">B2B</div>
                              </div>
                         </a>
                    </div>
                    
               </div>
               <!-- image row 3 -->
               <div class="row">
                    <!-- image 1 -->
                    <div class="col-md-3 p-0">
                         <a href="">
                              <div class=" card-image position-relative">
                                  <img src="images/FMCG.jpg" alt="Image 1" class="img-fluid  ">
                                  <div class="image-cont  ">FMCG</div>
                              </div>
                         </a>
                    </div>
                    <!-- image 2 -->
                    <div class="col-md-3 p-0 ">
                         <a href="">
                              <div class=" card-image position-relative">
                                  <img src="images/EDUCATION.jpeg" alt="Image 1" class="img-fluid ">
                                  <div class="image-cont  ">EDUCATION</div>
                              </div>
                         </a>
                    </div>

                    <!-- image 3 -->
                    <div class="col-md-3 p-0 ">
                         <a href="">
                              <div class=" card-image position-relative">
                                  <img src="images/LIFESTYLE.jpg" alt="Image 1" class="img-fluid ">
                                  <div class="image-cont text-uppercase ">LIFESTYLE</div>
                              </div>
                         </a>
                    </div>
                    <div class="col-md-3 p-0 ">
                         <a href="">
                              <div class=" card-image position-relative">
                                  <img src="images/ONLINE BRANDING.jpg" alt="Image 1" class="img-fluid ">
                                  <div class="image-cont text-uppercase ">ONLINE BRANDING</div>
                              </div>
                         </a>
                    </div>
                    
               </div>
          </div>   
         </section>
         <!-- caurosel section -->

         <section class="mt-5" id="casestudy">
          <div class="container mt-5 ">
               <p class="text-center award pan">FROM THE DIGITAL PAN </p>
               <div class="container-fluid">
                    <div id="carouselExample" class="carousel slide">
                         <div class="carousel-inner">
                              <!-- carousel 1 -->
                           <div class="carousel-item active">
                             <div class=" d-flex caro align-items-center justify-content-center">
                               <div class="caro-img col-5">
                                    <img src="images/caro1.png" class="img-fluid" alt="">
                               </div>    
                              <div class="caro-cont col-5 ">
                                   <h3 class="caro-head">Headway, Rent a car – A digital foray driving car rentals in Dubai</h3>
                                   <p class="content">Leveraging the accumulated expertise from running strategic digital campaigns in the middle east, Bud has once again, successfully rolled out a highly impactful SMM campaign to stir up the digital PAN in Dubai. We kicked off with detailed keyword research to carve out an accurate niche audience for the brand. We analyzed the online customer behavior patterns to fine-tune our findings & deliver the most optimized paid ad strategies across multiple platforms like FB, and Instagram for assured leads & promising ROI.</p>
                                   <div class="d-flex  ">
                                        <a href="" class="col-6 fw-bold text-danger">www.headwayrentacar.com</a>
                                        <span class="col-6 content">WORDPRESS, BOOTSTRAP</span>
                                   </div>
                              </div>
                             </div>
                           </div>
                              <!-- carousel 2 -->
                           <div class="carousel-item ">
                              <div class=" d-flex caro align-items-center justify-content-center">
                                <div class="caro-img col-5">
                                     <img src="images/caro2.png" class="img-fluid" alt="">
                                </div>    
                               <div class="caro-cont col-5">
                                    <h3 class="caro-head">Sri Ganesh Jewellers - A tapestry of opulence.</h3>
                                    <p class="content">
                                        Sri Ganesh Diamonds & Jewellery is a brand that paints luxury in an elegant and enchanting way. By grasping the insights and understanding the needs and preferences, we seized the opportunity to create a website that is both classy and exquisite. The dark-themed portfolio exhibits its alluring spectrum of jewelry, harmonizing seamlessly with a contemporary design ethos. Modern and yet modest, this is one of the many websites that the BUD family proudly presents.</p>
                                    <div class="d-flex  ">
                                         <a href="" class="col-6 fw-bold text-danger">www.sriganeshjewellers.co.in</a>
                                         <span class="col-6 content">WORDPRESS, BOOTSTRAP</span>
                                    </div>
                               </div>
                              </div>
                            </div>
                            <!-- carousel 3 -->
                            <div class="carousel-item ">
                              <div class=" d-flex caro align-items-center justify-content-center ">
                                <div class="caro-img col-5">
                                     <img src="images/caro3.png" class="img-fluid" alt="">
                                </div>    
                               <div class="caro-cont col-5">
                                    <h3 class="caro-head">Rugtek - Exploring e-commerce</h3>
                                    <p class="content">
                                        Another feather on our cap was the website created for a POS & peripheral manufacturer, RUGTEK. The technical content for the several product categories was carefully curated to cater to both B2C and B2B market segments. The interface of the website catering to the unique needs of a hardware company demanded a picture-perfect layout with a clear-cut representation of their product foray. The site was neatly elevated to an e-commerce platform enabling the target customers PAN India, to trade smoothly, without any hassle.</p>
                                    <div class="d-flex  ">
                                         <a href="" class="col-6 fw-bold text-danger">www.rugtek.com</a>
                                         <span class="col-6 content">WORDPRESS, BOOTSTRAP</span>
                                    </div>
                               </div>
                              </div>
                            </div>
                            <!-- carousel 4 -->
                            <div class="carousel-item ">
                              <div class=" d-flex caro align-items-center justify-content-center ">
                                <div class="caro-img col-5 ">
                                     <img src="images/caro4.png" class="img-fluid" alt="">
                                </div>    
                               <div class="caro-cont col-5 ">
                                    <h3 class="caro-head">Electro Denim Lab - Grungy take to Social Media Marketing</h3>
                                    <p class="content">
                                        To stir up the digital PAN in Singapore, Bud crafted trendy & impactful social media campaigns to set Electro Denim Lab, a leading apparel brand in the fashion spectrum, apart, in the cluttered space. Right from trendy reels to grungy videos, Bud elevated design standards turning every impression into likes & leads.</p>
                                    <div class="d-flex  ">
                                         <a href="" class="col-6 fw-bold text-danger"></a>
                                         <span class="col-6 content"></span>
                                    </div>
                               </div>
                              </div>
                            </div>
                         </div>
                         <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                           <span class="carousel-control-prev-icon text-black" aria-hidden="true">
                                <i class="fa-solid fa-less-than"></i>
                              </span>
                         </button>
                         <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                              <span class="carousel-control-next-icon text-black" aria-hidden="false">
                                <i class="fa-solid fa-greater-than"></i>
                           </span>
                         </button>
                       </div>
               </div>
          </div>
         </section>

         <!-- portfolio section -->
          <div class="container d-flex justify-content-center" id="dm">
                    <h4 class="just mt-5 " >JUST WHAT YOUR BRAND NEEDS
                         <span class="redbox" ></span>
                    </h4>
          </div>
          <!-- portfolio image cards -->


          <section class="caro-back text-center pb-5 " >
               <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
               <div class="carousel-inner">
               <div class="carousel-item active" data-bs-interval="5000">
                       <h2 class="caro-heading">WE ENJOY WORKING WITH THESE <span class="caro-span">AMAZING CLIENTS</span></h2>
                       <div class="row caro-row"  style="margin-left: 15%;margin-right:15%;">
                           <div class="col-sm-6 change">
                               <img src="./images/caro-img1.png" alt="" id="black">
                               <img src="./images/caro-img1h.png" alt="" id="color">
                           </div>
                          <div class="col-sm-6 change">
                           <img src="./images/caro-img2.png" alt="" id="black">
                           <img src="./images/caro-img2h.png" alt="" id="color">
                           </div>
                       </div>
                       <div class="row" id="caro-row">
                           <div class="col-sm-4 change">
                              <img src="./images/caro-img3.png" alt="" id="black">
                              <img src="./images/caro-img3h.png" alt="" id="color">
                           </div>
                           <div class="col-sm-4 change">
                              <img src="./images/caro-img4.png" alt="" id="black">
                           <img src="./images/caro-img4h.png" alt="" id="color">
                           </div>
                           <div class="col-sm-4 change">
                              <img src="./images/caro-img5.png" alt="" id="black">
                           <img src="./images/caro-img5h.png" alt="" id="color">
                           </div>
                       </div>
                       <div class="row" id="caro-row" style="margin-left: 15%;margin-right:15%;">
                           <div class="col-sm-6 change">
                              <img src="./images/caro-img6.png" alt="" id="black">
                           <img src="./images/caro-img6h.png" alt="" id="color">
                           </div>
                           <div class="col-sm-6 change">
                              <img src="./images/caro-img7.png" alt="" id="black">
                           <img src="./images/caro-img7h.png" alt="" id="color">
                           </div>
                       </div>
                       <div class="row" id="caro-row">
                           <div class="col-sm-4 change">
                              <img src="./images/caro-img8.png" alt="" id="black">
                           <img src="./images/caro-img8h.png" alt="" id="color">
                           </div>
                           <div class="col-sm-4 change">
                              <img src="./images/caro-img9.png" alt="" id="black">
                           <img src="./images/caro-img9h.png" alt="" id="color">
                           </div>
                           <div class="col-sm-4 change">
                              <img src="./images/caro-img10.png" alt="" id="black">
                           <img src="./images/caro-img10h.png" alt="" id="color">
                           </div>
                       </div>
                       <div class="row" id="caro-row" style="margin-left: 15%;margin-right:15%;">
                           <div class="col-sm-6 change">
                              <img src="./images/caro-img11.png" alt="" id="black">
                           <img src="./images/caro-img11h.png" alt="" id="color">
                           </div>
                           <div class="col-sm-6 change">
                              <img src="./images/caro-img12.png" alt="" id="black">
                              <img src="./images/caro-img12h.png" alt="" id="color">
                           </div>
                       </div>
               </div>
               <!-- slide-2 -->
                
               <div class="carousel-item" data-bs-interval="5000">
                       <h3 class="caro-heading">WE ENJOY WORKING WITH THESE <span class="caro-span">AMAZING CLIENTS</span></h3>
                       <div class="row" id="caro-row" style="margin-left: 15%;margin-right:15%;">
                           <div class="col-sm-6 change">
                              <img src="./images/caro-img12.png" alt="" id="black">
                              <img src="./images/caro-img12h.png" alt="" id="color">
                           </div>
                           <div class="col-sm-6 change">
                              <img src="./images/caro-img11.png" alt="" id="black">
                              <img src="./images/caro-img11h.png" alt="" id="color">

                           </div>
                       </div>
                       <div class="row" id="caro-row">
                           <div class="col-sm-4 change">
                              <img src="./images/caro-img10.png" alt="" id="black">
                              <img src="./images/caro-img10h.png" alt="" id="color">

                           </div>
                           <div class="col-sm-4 change">
                              <img src="./images/caro-img9.png" alt="" id="black">
                              <img src="./images/caro-img9h.png" alt="" id="color">

                           </div>
                           <div class="col-sm-4 change">
                              <img src="./images/caro-img8.png" alt="" id="black">
                              <img src="./images/caro-img8h.png" alt="" id="color">
                           </div>
                       </div>
                       <div class="row" id="caro-row" style="margin-left: 15%;margin-right:15%;">
                           <div class="col-sm-6 change">
                              <img src="./images/caro-img7.png" alt="" id="black">
                              <img src="./images/caro-img7h.png" alt="" id="color">
                           </div>
                           <div class="col-sm-6 change">
                              <img src="./images/caro-img6.png" alt="" id="black">
                              <img src="./images/caro-img6h.png" alt="" id="color">
                           </div>
                       </div>
                       <div class="row" id="caro-row">
                           <div class="col-sm-4 change">
                              <img src="./images/caro-img5.png" alt="" id="black">
                              <img src="./images/caro-img5h.png" alt="" id="color">
                           </div>
                           <div class="col-sm-4 change">
                              <img src="./images/caro-img4.png" alt="" id="black">
                              <img src="./images/caro-img4h.png" alt="" id="color">
                           </div>
                           <div class="col-sm-4 change">
                              <img src="./images/caro-img3.png" alt="" id="black">
                              <img src="./images/caro-img3h.png" alt="" id="color">
                           </div>
                       </div>
                        <div class="row" id="caro-row" style="margin-left: 15%;margin-right:15%;">
                           <div class="col-sm-6 change">
                              <img src="./images/caro-img2.png" alt="" id="black">
                              <img src="./images/caro-img2h.png" alt="" id="color">
                           </div>
                           <div class="col-sm-6 change">
                              <img src="./images/caro-img1.png" alt="" id="black">
                              <img src="./images/caro-img1h.png" alt="" id="color">
                           </div>
                       </div>
               </div>
               </div>
               <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               </button>
               <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
               </button>
               </div>
          </section>

          <!-- Social Active section -->

          <section class="mt-5">
               <p class="text-center award pan">WE ARE SOCIALLY ACTIVE </p>
               <div class="container">
                    <div class="row social ">
                         <div class=" col-md-3">
                              <a href="" target="_blank"><img src="./images/social1.jpg" class="img-fluid"></a>
                              <h6 class="mt-3 social-cont">Proud winners of Maddys 2024!</h6>
                         </div>

                         <div class="col-md-3">
                              <a href="" target="_blank"><img src="./images/social2.jpg" class="img-fluid"></a>
                              <h6 class="mt-3 social-cont">Floral carpets, delicious sadya, and vibe all around!</h6>
                         </div>

                         <div class="col-md-3">
                              <a href="" target="_blank"><img src="./images/social3.jpg" class="img-fluid"></a>
                              <h6 class="mt-3 social-cont">New space, new vibes! We're loving it!</h6>
                         </div>

                         <div class="col-md-3">
                              <a href="" target="_blank"><img src="./images/social4.jpg" class="img-fluid"></a>
                              <h6 class="mt-3 social-cont">Olympic fever hits our office!</h6>
                         </div>
                    </div>
               </div>

          </section>

          <!-- Testimonial Section -->

          <section id="testimonial">
               <div class="container mt-5" id="socialmedia">
                    <div class="container d-flex justify-content-center">
                         <h4 class="just " >JUST WHAT YOUR BRAND NEEDS
                              <span class="redbox" ></span>
                         </h4>
                    </div>
                    <div class="row mt-5">
                         <div class="caroulsliding">
                              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <div class="container test-cont">
                                      <div class="row ">
                                        <!-- test 1 -->
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4 my-auto">
                                            <img src="./images/test1.png" alt="" class="img-fluid">
                                        </div>
                                        <div class="col-md-6 ">
                                          <div class="container">
                                            <div class="row test-space">
                                              <div class="col-md-3"> <img src="./images/open.png" alt="" class="img-fluid "></div>
                                              <div class="col-md-9"></div>
                                            </div>
                                            <p class="  ms-3 mt-2">Bud has been a key partner in establishing our digital presence, from our website to social media. They come up with many creative ideas and are flexible with the requirements. Bud has shown care and dedication, and the agency has focused on our brand, aligning it as closely as their own. Every month, I receive a detailed report on what has been accomplished. Overall, I've had a good experience.</p>
                                            <div class="row">
                                              <div class="col-md-9 col-10"></div>
                                              <div class="col-md-3 col-2"> <img src="./images/close.png" alt="" class="img-fluid ">
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-1"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- test 2 -->
                                  <div class="carousel-item">
                                    <div class="container test-cont">
                                      <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4 my-auto">
                                          <img src="./images/test2.png" alt="" class="img-fluid ">
                                        </div>
                                        <div class="col-md-6 ">
                                          <div class="container">
                                            <div class="row test-space">
                                              <div class="col-md-3"> <img src="./images/open.png" alt="" class="img-fluid "></div>
                                              <div class="col-md-9"></div>
                                            </div>
                                            <p class="  ms-3 mt-2">We at Sri Ganesh Diamonds and Jewellery, Sadashivanagar, are thrilled with the exceptional services provided by Bud Marketing Agency. Their innovative strategies and dedicated team have significantly boosted our brand presence. Their expertise and commitment have truly elevated our business to new heights. Thank you, Bud Marketing Agency, for your outstanding work!</p>
                                            <div class="row">
                                              <div class="col-md-9 col-10"></div>
                                              <div class="col-md-3 col-2"> <img src="./images/close.png" alt="" class="img-fluid ">
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-1"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- test 3 -->
                                  <div class="carousel-item">
                                    <div class="container test-cont">
                                      <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4 my-auto">
                                         <img src="./images/test3.png" alt="" class="img-fluid ">
                                        </div>
                                        <div class="col-md-6 ">
                                          <div class="container">
                                            <div class="row test-space">
                                              <div class="col-md-3"> <img src="./images/open.png" alt="" class="img-fluid "></div>
                                              <div class="col-md-9"></div>
                                            </div>
                                            <p class="  ms-3 mt-2">If you are out there looking for a cost-effective company, good with creative branding solutions, blog sites creation, video presentations, and social media marketing, I would recommend Bud, they are nothing but exceptional. They have a great team that understood what I wanted and did above and beyond my expectations. They also created an impressive video presentation for my company Turner & Townsend in Texas. A big shout out for the whole team!</p>
                                            <div class="row">
                                              <div class="col-md-9 col-10"></div>
                                              <div class="col-md-3 col-2"> <img src="./images/close.png" alt="" class="img-fluid ">
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-1"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                   <!-- test 4 -->
                                  <div class="carousel-item">
                                    <div class="container test-cont">
                                      <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4 my-auto">
                                         <img src="./images/test4.png" alt="" class="img-fluid ">
                                        </div>
                                        <div class="col-md-6 ">
                                          <div class="container">
                                            <div class="row test-space">
                                              <div class="col-md-3"> <img src="./images/open.png" alt="" class="img-fluid "></div>
                                              <div class="col-md-9"></div>
                                            </div>
                                            <p class="  ms-3 mt-2">We are thrilled with the exceptional work delivered by Bud! Their team expertly rebranded our company, Cogvision, with a stunning new logo, tagline, and brand book that perfectly captures our vision and values. Their dedication to understanding our needs and goals resulted in a website that exceeds our expectations. Bud's creativity, professionalism, and attention to detail have elevated our brand to new heights.</p>
                                            <div class="row">
                                              <div class="col-md-9 col-10"></div>
                                              <div class="col-md-3 col-2"> <img src="./images/close.png" alt="" class="img-fluid ">
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-1"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- test 5 -->
                                  <div class="carousel-item">
                                    <div class="container test-cont">
                                      <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4 my-auto">
                                       <img src="./images/test5.png" alt="" class="img-fluid ">
                                        </div>
                                        <div class="col-md-6 ">
                                          <div class="container">
                                            <div class="row test-space">
                                              <div class="col-md-3"> <img src="./images/open.png" alt="" class="img-fluid "></div>
                                              <div class="col-md-9"></div>
                                            </div>
                                            <p class="  ms-3 mt-2">Bud has been a breath of fresh air for our brand! Their innovative approach and creative edge have resulted in a logo that truly reflects our brand identity. Their ability to capture the essence of our co-working solutions and translate it into a digital experience through a functional and an elite website has been impressive. Bud's team is professional, responsive, and a pleasure to work with!</p>
                                            <div class="row">
                                              <div class="col-md-9 col-10"></div>
                                              <div class="col-md-3 col-2"> <img src="./images/close.png" alt="" class="img-fluid ">
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-1"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- test 6 -->
                                  <div class="carousel-item">
                                    <div class="container test-cont">
                                      <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4 my-auto">
                                         <img src="./images/test7.png" alt="" class="img-fluid ">
                                        </div>
                                        <div class="col-md-6 ">
                                          <div class="container">
                                            <div class="row test-space">
                                              <div class="col-md-9"> <img src="./images/open.png" alt="" class="img-fluid "></div>
                                              <div class="col-md-3"></div>
                                            </div>
                    
                                            <p class="  ms-3 mt-2">Working with Bud has been a really good experience for Sportz Village! They consistently deliver creative, good-quality work on time. They handle our needs promptly and efficiently, whether it’s reels, videos, GIFs, decks, print collaterals or website development. Bud’s accessibility and support are outstanding. We certainly recommend Bud for their excellent service and dedication.</p>
                                            <div class="row">
                                              <div class="col-md-9 col-10"></div>
                                              <div class="col-md-3 col-2"> <img src="./images/close.png" alt="" class="img-fluid ">
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-1"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                    
                                </div>
                                <button class="carousel-control-prev crprevbtn" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon " aria-hidden="true">
                                       <i class="fa-solid fa-less-than p-2 rounded-1 bg-dark"></i>
                                  </span>
                                </button>
                                <button class="carousel-control-next crnextbtn" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                  <span class="carousel-control-next-icon p-3 " aria-hidden="true">
                                <i class="fa-solid fa-greater-than p-2 rounded-1 bg-dark "></i>
                                  </span>
                                </button>
                              </div>
                            </div>
                    </div>
               </div>
          </section>
          <!-- Google partenrs -->

          <section id="film">
               <div class="container mt-5">
                    <div class="row text-center">
                         <div class="container d-flex justify-content-center">
                              <h4 class="just " >JUST WHAT YOUR BRAND NEEDS
                                   <span class="redbox" ></span>
                              </h4>
                         </div>
                         <div class="col-md-12">
                         <div class="col-md-2"></div>
                         <div class="row ">
                              <div class="col-md-4  hidden-xs hidden-sm"></div>
                              <div class="col-md-4 text-center">  
                                   <a href=""><img src="./images/googlepartner.jpg" class="img-responsive" alt="Google ads PPC Partner"></a>
                              </div>
                              <div class="col-md-4  hidden-xs hidden-sm"></div>
                         </div>
                         <div class="col-md-2"></div>
                         </div>
                    </div>
                    <br>
               </div>
          </section>
               
          
          <!-- Footer -->
          <footer class="" id="footer">
               <section  class="bg-dark text-white pb-4">
                    <div class="container-fluid">
                         <p class="text-center foot-head text-white pt-5">Is there something you want to discuss with us? 
                          <div class="d-flex mt-5 justify-content-center">
                              <a class="btn btn-danger btn-md " href="#" role="button">LEAVE A MESSAGE</a>
                          </div>
                    </div>
                    <div class="container-fluid">
                         <div class="row mt-5">
                              <div class="col-md-3 d-flex justify-content-between">
                                   <div class="col-md-3 pt-5">
                                        <ul class="nav flex-column">
                                             <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Careers</a></li>
                                             <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Known Us</a></li>
                                             <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Works</a></li>
                                             <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Clients</a></li>
                                             <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Blogs</a></li>
                                        </ul>
                                   </div>
                                   <div class="col-md-9 pt-5">
                                        <ul class="nav flex-column align-items-center ">
                                             <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><img src="./images/insta.png" alt="" class="img-fluid"></a></li>
                                             <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><img src="./images/fb.png" alt="" class="img-fluid"></a></li>
                                             <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><img src="./images/youtube.png" alt="" class="img-fluid"></a></li>
                                        </ul>
                                   </div>
                              </div>
                              <div class="col-md-6 ">
                                   <p style="font-size: 18px;">Our services</p>
                                   <div class="row">

                                        <div class="col-md-4 col-12">
                                             <ul class="nav flex-column"></ul>
                                             <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Advertising Agency</a></li>
                                             <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Digitat Marketing Agency</a></li>
                                             <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Web Development Company</a></li>
                                                  <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">SEO Company</a></li>
                                                  <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">PPC Agency</a></li>
                                                  <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Social Media Agency</a></li>
                                                  <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Email Marketting</a></li>
                                                  <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Shopify Web Development</a></li>
                                             </ul>
                                        </div>

                                        <div class="col-md-4 col-12">
                                             <ul class="nav flex-column"></ul>
                                                  <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Influencer marketing</a></li>
                                                  <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">PR agency</a></li>
                                                  <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Performance marketing</a></li>
                                                  <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">TVC advertising</a></li>
                                                  <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">UI/UX Designing</a></li>
                                                  <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Video production company</a></li>
                                                  <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">logo design company</a></li>
                                                  <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Web hosting company</a></li>
                                             </ul>
                                        </div>

                                        <div class="col-md-4 col-12">
                                             <ul class="nav flex-column"></ul>
                                                  <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Youtube marketing</a></li>
                                                  <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Ecommerce development company</a></li>
                                                  <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Branding agency</a></li>
                                                  <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Creative agency</a></li>
                                                  <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">PPC Agency</a></li>
                                                  <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Social Media Agency</a></li>
                                                  <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Email Marketting</a></li>
                                                  <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Digital marketing healthcare</a></li>
                                             </ul>
                                        </div>
                                   </div>

                              </div>
                              <div class="col-md-3">
                                   <p style="font-size: 18px;">Our services</p>
                                   <p style="font-size: 14px;" class="mt-3">
                                        <i class="fa-solid fa-location-dot text-danger"></i> 
                                        &nbsp;
                                        Bud Creative Ad Agency
                                   </p>
                                   <a href="" class="text-white address">
                                        No 826, Elegant Enclave, 1st Floor, Above<br> Skinfinity Smiles Dental, 3rd Cross,<br> HRBR Layout, 1st Block Kalyan Nagar,<br> Bangalore - 560043
                                   </a>

                                   <p style="font-size: 14px;" class="mt-3">
                                        <i class="fa-solid fa-address-book text-danger"></i>
                                        Contact Us
                                        <br>
                                        Mobile :  <a href=""  class="text-white">+91 88 88 833138</a> <br>
                                        Email :  <a href="" class="text-white">manoj@budindia.com</a>
                                   </p>



                                   <p style="font-size: 14px;" class="mt-3">
                                        Andhra/Telangana(Hyd) 
                                   </p>
                                   <a href="" class="text-white address">
                                        <i class="fa-solid fa-phone p-1 rounded-1 bg-danger"></i>
                                       +91 93 80 508207
                                   </a>

                                   <p style="font-size: 14px;" class="mt-3">
                                        Tamil Nadu(Chennai)
                                   </p>
                                   <a href="" class="text-white address">
                                        <i class="fa-solid fa-phone p-1 rounded-1 bg-danger"></i>
                                       +91 98 84 819056
                                   </a>

                                   <p style="font-size: 14px;" class="mt-3">
                                        <img src="./images/usa-flag.jpeg" class="img-fluid" alt="">
                                        USA Representative <br> Laura Gesinde
                                   </p>
                                   <a href="" class="text-white address">
                                        <i class="fa-solid fa-phone p-1 rounded-1 bg-danger"></i>
                                       +1(832) 469-1843
                                   </a>
                              </div>
                         </div>
                    </div>         
                </section>

                <!-- copyright section -->
                <section class="">
                    <div class="text-white py-2 px-4 container-fluid" style="background-color:black;">
                    <div class="row">
                        <div class="col-md-12 copy text-center">
                      Copyright © 
                       <a class="text-white" style="text-decoration:none;">Budindia 2024</a>
                       </div>
               
                    </div>
                     </div>
                       </section>


          </footer>

</body>
<script src="./script/script.js"></script>

</html>